//  Primary Colors
$nutmeg: hsl(14, 45%, 36%);
$dark-raspberry: hsl(332, 51%, 32%);

// Neutral
$white: hsl(0, 0%, 100%);
$rose-white: hsl(330, 100%, 98%);
$eggshell: hsl(30, 54%, 90%);
$light-grey: hsl(30, 18%, 87%);
$wenge-brown: hsl(30, 10%, 34%);
$dark-charcoal: hsl(24, 5%, 18%);

// Body Copy
$paragraph-size: 16px;

// Fonts
$weight-400: 400;
$weight-600: 600;
$weight-700: 700;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: $eggshell;
}
main {
  background-color: $white;
  width: 50%;
  border-radius: 25px;
  padding: 50px;
  margin-block: 70px;
  list-style: inside;
}
img {
  border-radius: 10px;
  width: 100%;
}
h1 {
  letter-spacing: 2px;
  font-family: 'Young Serif', serif;
  font-weight: $weight-700;
  font-size: 36px;
  color: $dark-charcoal;
  margin: 25px 0;
}

section {
  margin-block: 25px;
}

p {
  font-family: 'Outfit', sans-serif;
  font-weight: $weight-400;
  color: $dark-charcoal;
  opacity: 0.9;
  font-size: 16px;
  line-height: 20px;
}

.preparation {
  background-color: $rose-white;
  border-radius: 10px;
  padding: 20px;
}

.red {
  color: $dark-raspberry;
  font-family: 'Outfit', sans-serif;
  font-weight: $weight-700;
  font-optical-sizing: auto;
  font-size: 18px;
  margin-block: 0 20px;
}
.total > li::marker {
  color: $dark-raspberry;
}

li {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: $weight-400;
  color: $dark-charcoal;
  opacity: 0.8;
  // spacing between text and marker
  padding: 7px 0 0 14px;
  list-style-position: outside;
  margin-left: 20px;
  line-height: 20px;
}

li::marker {
  color: $nutmeg;
  font-weight: $weight-700;
}

h2 {
  font-size: 28px;
  color: $nutmeg;
  padding-block: 20px;
  font-weight: $weight-600;
  font-style: normal;
}

.bold {
  font-weight: $weight-700;
  color: $dark-charcoal;
  opacity: 0.9;
}

hr {
  background-color: $light-grey;
  height: 0.1px;
  border: none;
}

// Table
table {
  width: 100%;
  font-family: 'Outfit', sans-serif;
  margin: 15px 0;
}
tbody {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

tr {
  border-bottom: 1px solid $nutmeg;
  width: 100%;
  display: flex;
}
tr:last-child {
  border: 0;
}
td {
  width: 50%;
  padding: 10px 20px;
  color: $dark-charcoal;
  opacity: 0.9;
  font-size: 17px;
}
.values {
  font-weight: 700;
  color: $nutmeg;
  padding: 10px 0;
}

// Mobile
@media screen and (max-width: 1335px) {
  main {
    width: 100%;
    padding: 0;
  }
  h1 {
    font-size: 24px;
    font-weight: 700;
  }
  p {
    font-size: 14px;
  }
  li {
    font-size: 14.2px;
  }
  img {
    border-radius: 0;
  }
  section {
    padding-inline: 50px;
  }
}
